ul{list-style: none;}
body{background: #eee; color: #555;}
.container, .navbar .container{width: 960px;}

#header{height: 60px;}

#container{}

#footer{font-size: 12px; padding: 20px 0; background: #fff;}
#footer a{color: #000;}
#footer .links a{margin-right: 20px;}


.wrap{}
.main{float: left; margin-left: 20px; width: 680px; min-height: 1px;}
.sidebar{float: left; margin-left: 20px; width: 260px;}

.box{margin-bottom: 15px; background: white; box-shadow: 1px 2px 6px #bebebe;}
.inner{padding: 10px;}

.sep5{height: 5px;}
.sep10{height: 10px;}
.avatar{overflow: hidden; width: 48px; height: 48px;}


.toolbar{}
.node{padding: 4px; background: #f0f0f0; color: #333;}
.node:hover{background: #e6e6e6; text-decoration: none;}

.main .topics{width: 100%;}
.main .topics .topic{border-bottom: 1px solid #e6e6e6;}
.main .topics .avatar{width: 48px; height: 48px; vertical-align: top;}
.main .topics .summary{padding: 0 10px; width: auto;}
.main .topics .right{width: 50px; vertical-align: top; text-align: right;}
.main .topics .info{font-size: 12px; color: #999;}
.main .topics .info a{color: #666;}
.main .topics .count{padding: 2px 5px; background: #e6e6e6; border-radius: 5px;}
.main .topics .count:hover{background: #d5d6d5; text-decoration: none;}

.sidebar .box{font-size: 12px;}
.sidebar .box .subject{margin: 0; font-size: 14px; line-height: 100%; border-bottom: 1px solid #e6e6e6;}
.sidebar .box .node{margin-right: 10px;}
.sidebar .box .topics{margin: 0; color: #999;}

.wrap .box .subject{margin: 0; font-size: 14px; line-height: 100%; border-bottom: 1px solid #e6e6e6;}


.topic-meta{color: #999;}
.topic-title{font-size: 16px; color: #999; line-height: 14px;}
.topic-title a:hover{text-decoration: none;}
.topic-node{background: transparent; color: #999;}
.topic-node:hover{color: #333;}
.topic-author:hover{text-decoration: none; color: #333;}
.topic-info, .topic-info a{color: #999;}
.topic-info a{color: #777;}
.topic-body{}
.topic-toolbar{font-size: 12px; border-top: 1px solid #e6e6e6;}
.topic-toolbar a{color: #666;}

.posts-header{font-size: 12px; background: #f7f7f7;}
.posts-header .last-poster{color: #777;}

.post{border-top: 1px solid #e6e6e6; position: relative;}
.post-wrap{margin: 0;}
.post-sidebar{float: left; width: 48px; vertical-align: top;}
.post-main{margin-left: 60px;}
.post-meta{font-size: 12px; color: #999;}
.post-meta a{color: #777; font-weight: bold;}
.post-action{position: absolute; top: 10px; right: 10px; font-size: 12px; display: none;}
.post-action a{color: #777;}



.modal-header h3{font-size: 20px; line-height: 20px;}
.modal-body .control-group:last-child{margin-bottom: 0;}

.modal-post{width: 600px;}
.modal-post .input-xlarge{width: 400px;}
.modal-post .input-xxlarge{width: 550px;}
.node-selector, .node-selector .btn{width: 150px;}
.node-selector .caret{position: absolute; right: 12px;}
.node-selector li{cursor: pointer;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.btn, .btn-group, .dropdown-menu, .label, .badge, .pre, .popover, .alert, .uneditable-input, .form-search .input-append .search-query, .form-search .input-prepend .search-query, .table-bordered, .typeahead, .well, .breadcrumb, .pagination ul, .thumbnail, .progress, div.subnav, .nav-tabs > li > a, .input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle, .input-prepend .add-on:first-child, .input-prepend .btn:first-child, .btn-group>.btn:first-child{-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}

.breadcrumb{background: white;}


.node-section dd a{margin-right: 10px;}


.muted{color: #999}
a.muted{color: #777;}
