<div class="row">
    <div class="main">
        <section class="box topic">
            <div class="inner topic-meta">
                <a href="#" class="pull-right"><img src="http://cdn.v2ex.com/avatar/51da/85a3/3557_normal.png?m=1330351261" alt="" width="48" height="48" class="avatar" /></a>
                <h1 class="topic-title">
                    <a href="#/topic/{{ topic.id }}" class="title">{{ topic.title }}</a>
                    <span class="sep">•</span>
                    <a href="#node" class="node topic-node">问与答</a>
                </h1>
                <div class="topic-info">
                    <a href="#/user/{{ topic.author.id }}" class="topic-author">{{ topic.author.name }}</a> 发表于<time>{{ topic.created_at }}</time>
                    <span class="sep">•</span>
                    最后回复 <a href="#/user/{{ topic.lastPoster.id }}" class="topic-author">{{ topic.lastPoster.name }}</a>
                    <span class="sep">•</span>
                    共 <span class="count">{{ topic.views }}</span> 次阅读
                </div>
            </div>
            <div class="inner topic-body">
                1. web开发工程师 /网站前端开发工程师<br><br>岗位职责： <br>1.负责配合产品经理对产品的用户体验调优；<br>3.配合开发人员进行前端开发协作，精通网页的制作和交互技术。 <br><br>任职资格： <br>1.熟悉<a href="#">JavaScript</a>语法和用法，能够手写常规JS脚本；<br>3.精通XHTML/HTML5，熟悉HTML5的特性，能利用HTML5+JavaScript实现动画等效果；<br>5.有创新思想，敢于挑战新事物，了解用户体验；<br>7.独立承担知识库系统，语义云系统的开发工作，以及代码维护工作；<br>2.维护现有项目的，并编写相应文档；<br>4.主管交付的其它工作。<br><br>任职要求<br>基本要求：<br>1.精通java开发。熟练使用多线程和NIO等技术提高服务器处理速度；<br>3.熟练使用mysql，精通sql语言；<br>5.熟悉html5,css,jquery前端开发技术；<br>7.精通设计模式；<br>9.良好的沟通能力和团队协作能力；"有管理经验；<br>8."熟练使用linux基本操作，项目部署；<br>6."熟练使用spring,ibatis,struts2开源框架；<br>4."本科及以上学历,四年以上工作经验；<br>2."负责系统单元测试，集成测试的工作；<br>5."负责语义云系统，知识库系统的开发；<br>3."责任心强，良好的对外沟通和团队协作能力，能承受工作压力 。<br><br>2. 高级J2EE开发工程师<br>岗位职责: <br>1."精通CSS/CSS3，熟悉CSS3的特性，能写出兼容主流浏览器的渲染效果；<br>6."精通各种主流浏览器兼容性问题的解决；<br>4."有一年以上工作经验者优先；<br>2."负责对页面代码进行优化，提高用户的加载和渲染速度，并提升用户的交互体验；<br>4."负责产品的网页前端制作和效果实现；<br>
            </div>
            <div class="inner topic-toolbar clearfix">
                <div class="pull-right topic-action">
                    <a href="#">回复</a>
                    <span class="sep">•</span>
                    <a href="#">关注(10)</a>
                    <span class="sep">•</span>
                    <a href="#">喜欢(0)</a>
                </div>
                <div class="topic-share">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_renren"></a>
                        <a class="jiathis_button_kaixin001"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
            </div>
        </section>

        <section class="box">
            <div class="inner posts-header">
                共有 <span class="count">{{ topic.posts_count }}</span> 次回复
                <span class="sep">•</span>
                最后回复来自于 <a href="#" class="last-poster">李恺</a> <time>一小时前</time>
            </div>
            <div class="inner post">
                <dl class="clearfix post-wrap">
                    <dt class="post-sidebar">
                        <a href="#"><img src="http://cdn.v2ex.com/avatar/51da/85a3/3557_normal.png?m=1330351261" alt="" width="48" height="48" class="avatar" /></a>
                    </dt>
                    <dd class="post-main">
                        <div class="post-meta">
                            <a href="#">ywencn</a> 回复于 <time>6天前</time>
                        </div>
                        <div class="sep5"></div>
                        <div class="post-body">
                            不用在初期就过度设计, 因为到最后你会发现还得改好多次才会成型. <br>在 Mac 上设计 UI 即使有像 <a href="http://www.teehanlax.com/" rel="nofollow">http://www.teehanlax.com/</a> 这种 UI Elements 的 psd 档也很麻烦. 我个人觉得不管是逻辑还是 UI 还是纸上来得舒服. 喜欢在纸面设计的话推荐 <a href="http://sukikits.taobao.com" rel="nofollow">http://sukikits.taobao.com</a>.
                        </div>
                        <div class="post-action">
                            <a href="#">回复</a>
                            <span class="sep">•</span>
                            <a href="#">喜欢({{ topic.likes_count }})</a>
                        </div>
                    </dd>
                </dl>
            </div>
        </section>
    </div>

    <div class="sidebar">
        <section class="box">
            <h2 class="inner subject">好评如潮</h2>
            <ul class="inner topics" id="likes_topics">
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">无人问津</h2>
            <ul class="inner topics" id="noreply_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
    </div>
</div>
