<div class="toolbar clearfix">
    <ul class="nav nav-pills pull-left">
        <li class="active"><a href="#">热议</a></li>
        <li><a href="#">最新</a></li>
        <li><a href="#">关注</a></li>
        <li><a href="#">推荐</a></li>
        <li><a href="#">节点</a></li>
    </ul>
    <a href="#" class="btn btn-default pull-right">
        <i class="icon icon-plus"></i>
        创建主题
    </a>
</div>
<div class="row">
    <div class="main">
        <section class="box">
            <div class="topics"></div>
        </section>
    </div>

    <div class="sidebar">
        <section class="box">
            <h2 class="inner subject">招聘</h2>
            <div class="inner describe">
                分享好职位信息，招人的，你还等什么！这里有这么多 Ruby 开发者。发布招聘信息时，标题请以"[公司地址]"开头，比如[北京]，[上海]，[杭州]等，以方便求职者检索。请注明联系方式，请写上待遇。
            </div>
        </section>
        <section class="box">
            <h2 class="inner subject">系统推荐</h2>
            <ul class="inner topics" id="suggest_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">好评如潮</h2>
            <ul class="inner topics" id="likes_topics">
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
        <section class="box">
            <h2 class="inner subject">无人问津</h2>
            <ul class="inner topics" id="noreply_topics">
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
                <li><a href="#">Teahour.fm 第3期，除夕特别版发布 :-)</a></li>
                <li><a href="#">Ruby 语言二十岁生日，如果你采访Matz，你会问什么？</a></li>
                <li><a href="#">谁能推荐一款人体工学的椅子。</a></li>
            </ul>
        </section>
    </div>
</div>
